* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  margin: 2rem;
  padding-top: 1rem;
  justify-content: space-between;
  font-weight: 400;
  font-size: 1.25rem;
  border: 1px dotted gray;
}
ul {
  display: flex;
  margin-top: 1rem;
}
li {
  margin: 0 1rem;
  list-style-type: none;
}
.logo {
  width: 7rem;
  height: 5rem;
  border-radius: 50%;
}
.body-container {
  margin:2rem;
}

.res-card {
  width: 15rem;
  height:18rem;
  padding:10px;
  margin:1rem 1rem;
  border-radius: 5px;
  /* background-color: rgb(240, 240, 240); */
  box-shadow: 1px 1px 4px gray;
  transition: all 0.5s ease;
}
.res-card > img {
  width: 100%;
  border-radius: 5px;
}
.res-title{
  margin: 15px 0;
}
.res-description{
  font-weight: lighter;
}
.res-card:hover {
  cursor: pointer;
  transform: scale(0.95);
}
.res-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}